<html>
  <head>
    <title> Samochody w komisie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <div class="p-3 mb-1 bg-transparent text-dark w-100">
    <div class="container w-auto" >
        <div class="table table-responsive mw-100">
            <table>
                <div class="card bg-secondary w-100 mt-2" th:each=" a : ${autaOut}">
                    <div class="card-body">
                        <div class="row flex-sm-nowrap ">
                            <div class="col-sm  d-flex justify-content-sm-start">
                                <h4 class="card-title" ><label th:text="${a.marka}+' '+${a.model}"></label> <label style="color:#5e008c" th:text="${a.cena}+'zł'"></label></h4>
                            </div>
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Przebieg: '+${a.przebieg}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Rok: '+${a.rok}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Moc: '+${a.moc}"></Label></div>    
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Pojemność: '+${a.pojemnosc}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Paliwo: '+${a.paliwo}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Kolor: '+${a.kolor}"></Label></div>    
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'VIN: '+${a.vin}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Nr. rejestracyjny: '+${a.nrRej}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Typ: '+${a.typ}"></Label></div>    
                        </div><div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Ubezpieczenie: '+${a.dataUbezpieczenia}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Przegląd: '+${a.dataPrzeglad}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Dodano: '+${a.dataDodania}"></Label></div>    
                        </div>
                    </div>
                </div>
            </table>
        </div>
        <button  class="btn btn-secondary" onclick="window.location.href='/'">Główna</button>
    </div>
    </div>
    
  </body>
</html>

<style>
body{
    min-height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #303030;
    }
caption{
    color: white;
    }
:link { color: white; }
:visited { color: white; }
</style>
  