<html>
  <head>
    <title> Samochody w komisie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-success w-100 justify-content-between">
      <a class="navbar-brand mx-2" href="/"> <i class="bi bi-car-front-fill"></i> SmakowiteFurki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active mx-2">
            <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i> Strona główna </a>
          </li>
          <li class="nav-item active mx-2">
            <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Zaloguj </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="p-3 mb-1 bg-transparent text-dark w-100">
    <div class="container w-auto" >
        <div class="table table-responsive mw-100">
            <table>
                <div class="card bg-secondary w-100 mt-2" th:each="a : ${autaOut}">
                    <div class="card-body">
                        <div class="row flex-sm-nowrap ">
                            <div class="col-sm  d-flex justify-content-sm-start">
                                <h4 class="card-title" ><label th:text="${a.marka}+' '+${a.model}"></label> <label style="color:#5e008c" th:text="${a.cena}+'zł'"></label></h4>
                            </div>
                        </div>
                      
                        <div th:id="'carouselExampleControls'+${a.id}" class="carousel slide" data-ride="carousel" style="height: 350px;">
                            <div class="carousel-inner">
                              <div th:each="img, i: ${a.images}" th:class="${i.first} ? 'carousel-item active' : 'carousel-item'">
                                <img id="ItemPreview" class="d-block h-100 mx-auto" th:src="'data:image/png;base64,'+${img.getImage()}">
                              </div>
                            </div>
                          
                          <div>
                            <a class="carousel-control-prev" th:href="'#carouselExampleControls'+${a.id}" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next" th:href="'#carouselExampleControls'+${a.id}" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                          </div>
                        </div>
                      
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Przebieg: '+${a.przebieg}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Rok: '+${a.rok}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Moc: '+${a.moc}"></Label></div>    
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Pojemność: '+${a.pojemnosc}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Paliwo: '+${a.paliwo}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Kolor: '+${a.kolor}"></Label></div>    
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'VIN: '+${a.vin}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Nr. rejestracyjny: '+${a.nrRej}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Typ: '+${a.typ}"></Label></div>    
                        </div>
                        <div class="row fs-5">
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Ubezpieczenie: '+${a.dataUbezpieczenia}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Przegląd: '+${a.dataPrzeglad}"></Label></div>    
                            <div class="col-md text-left" style="white-space: nowrap;"><Label th:utext="'Dodano: '+${a.dataDodania}"></Label></div>    
                        </div>
                    </div>
                </div>
            </table>
        </div>
        <button  class="btn btn-secondary" onclick="window.location.href='/'">Główna</button>
    </div>
    </div>
    
  </body>
</html>

<style>
body{
    min-height: 100vh;
    background-color: #303030;
    }
caption{
    color: white;
    }
:link { color: white; }
:visited { color: white; }
</style>
  