<html>
  <head>
    <title> Samochody w komisie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <div class="p-3 mb-1 bg-transparent text-dark w-100">
    <div class="container w-auto" >
        <div class="table table-responsive mw-100">
            <table class="table table-dark table-striped table-hover caption-top" >
                <caption>Lista samochodów w komisie</caption>          
                <thead>
                    <tr class="active">
                        <th>EDIT</th>
                        <th>#</th>                                                   
                        <th>VIN</th>                                                   
                        <th>NR_REJ</th>                                                   
                        <th>MARKA</th>                                                   
                        <th>MODEL</th>                                                   
                        <th>TYP</th>                                                   
                        <th>PALIWO</th>                                                   
                        <th>KOLOR</th>                                                   
                        <th>ROK</th>                                                   
                        <th>PRZEBIEG</th>                                                   
                        <th>MOC</th>                                                   
                        <th>POJEMNOŚĆ</th>                                                   
                        <th>CENA</th>                                                   
                        <th>UBEZPIECZENIE</th>
                        <th>PRZEGLĄD</th>                                              
                        <th>DODANY</th>     
                        <th>SPRZEDANY</th>     
                    </tr>
                    
                </thead>
                <tbody>                       
                    <tr th:each ="a : ${autaOut}" > 
                        <td style="float: left;">
                            <a th:href="'/admin/edytujAuto?ID='+${a.id}" >
                                <button type="button" class="btn btn-danger btn-floating" >
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </a>
                            <button type="button" class="btn btn-danger btn-floating" data-bs-toggle="modal" th:data-bs-target="'#ImgPicker'+${a.id}">
                                <i class="bi bi-image"></i>
                            </button>
                        </td>
                        <div class="modal fade" th:id="'ImgPicker'+${a.id}" tabindex="-1" role="dialog" aria-labelledby="ImgPicker" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content" style="color: rgb(190, 190, 190); background: #303030;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Zdjęcia</h1>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                <form action="/addImg" method="post" enctype="multipart/form-data">
                                        <input type="file" accept="image/*" name="image" id="image" class="form-control-file">
                                        <input type="hidden" name="id" th:value="${a.id}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                        <input type="submit" class="btn btn-primary"></button>
                                </form>
                                    </div> 
                              </div>
                            </div>
                        </div>
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Id pojazdu">             <b  th:utext="${a.id}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Numer VIN">              <b  th:utext="${a.vin}"></b> </td>                       
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Numer rejestracyjny">    <b  th:utext="${a.nrRej}"></b> </td>                       
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Marka pojazdu">          <b  th:utext="${a.marka}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Model pojazdu">          <b  th:utext="${a.model}"></b> </td>                       
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Typ pojazdu">            <b  th:utext="${a.typ}"></b> </td>                      
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rodzaj paliwa">          <b  th:utext="${a.paliwo}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Kolor pojazdu">          <b  th:utext="${a.kolor}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rok produkcji">          <b  th:utext="${a.rok}"></b> </td>                   
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Przebieg">               <b  th:utext="${a.przebieg}"></b> </td>                       
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Moc">                    <b  th:utext="${a.moc}"></b> </td>                      
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pojemność">              <b  th:utext="${a.pojemnosc}"></b> </td>
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cena">                   <b  th:utext="${a.cena}"></b> </td>	
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data ubezpieczenia">     <b  th:utext="${a.dataUbezpieczenia}"></b> </td> 
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data przeglad">          <b  th:utext="${a.dataPrzeglad}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data dodania">           <b  th:utext="${a.dataDodania}"></b> </td>                        
                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="0 = niesprzedany | 1 = Sprzedany ">           <b  th:utext="${a.sprzedany}"></b> </td>                        
                    </tr>
                </tbody>          
            </table>
        </div>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Główna</button>
    </div>
    </div>
    
  </body>
</html>



<style>
body{
    min-height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #303030;
    }
caption{
    color: white;
    }
:link { color: white; }
:visited { color: white; }
</style>

  